In [1]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
# print range 10 to 20
for num1 in range(10,20):
    print (num1, end=' ')

10 11 12 13 14 15 16 17 18 19

In [16]:
# Print number of items in the list by using 'len'
#[10, 20, 14, 55, 43, 87, 76]
#Number of item in the List2: 
#7

num_list = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:\n",len(num_list))

Number of item in the List2:
 7

In [17]:
#Print Artificial Intelligence 
str_value = 'Artificial Intelligence'
for char in str_value:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [27]:
#-Your Name-
#-Your Age-
#-Your Profession-
name = 'Kousalya'
age = 30
profession = 'IT Developer'
print("-",name,sep='',end='-')
print("\n-",age,sep='',end='-')
print("\n-",profession,sep='',end='-')

-Kousalya-
-30-
-IT Developer-

In [28]:
#Print this mixered datatype using Tuples
#(1, 'Welcome', 2, 'Hope')

mix_tuples = (1, 'Welcome', 2, 'Hope')
print(mix_tuples)

(1, 'Welcome', 2, 'Hope')

In [29]:
#((0, 1, 2, 3), ('python', 'HOPE'))
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'HOPE')
nested_tuple = (tuple1,tuple2)
print(nested_tuple)

((0, 1, 2, 3), ('python', 'HOPE'))

In [30]:
# print Odd Numbers in the list
#(20,10,16,19,25,1,276,188)
#19 is odd
#25 is odd
#1 is odd

list_tuple = (20,10,16,19,25,1,276,188)
for num in list_tuple:
    if num%2 == 1:
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [31]:
# print Even numbers in the list
list_tuple = (20,10,16,19,25,1,276,188)
for num in list_tuple:
    if num%2 == 0:
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even