In [2]:
#print Statement
#HOPE AI

print("HOPE AI")

HOPE AI

In [1]:
# Buy input
#Enter your institute name? : HOPE AI
input("Enter your institute name? : ")

Enter your institute name? : HOPE AI

'HOPE AI'

In [8]:
#Buy inputs
#Enter your name: Raj
#Enter your age: 15
#Enter your school name: Guru school
#Enter your degree: B.E CSE

name = input("Enter your name: ")
age = input("Enter your age: ")
school = input("Enter your school name: ")
degree = input("Enter your degree: ")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru School
Enter your degree: B.E CSE

In [4]:
#Buy inputs
#Enter your name: Raj
#Enter your age: 15
#Enter your school name: Guru school
#Enter your degree: B.E CSE

name = input("Enter your name: ")
age = input("Enter your age: ")
school = input("Enter your school name: ")
degree = input("Enter your degree: ")

print("Entered Name is",name)
print("Entered Age is",age)
print("Entered School name is",school)
print("Entered Degree is",degree)

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru School
Enter your degree: BE CSE
Entered Name is Raj
Entered Age is 15
Entered School name is Guru School
Entered Degree is BE CSE

In [5]:
#Addition
#a= 43
#b= 34
#add = 77

a=43
print("a=",a)
b=34
print("b=",b)
add = a + b
print("add=",add)

a= 43
b= 34
add= 77

In [6]:
#Subtraction
#a= 43
#b= 34
#Sub = 9

a= 43
print("a=",a)
b= 34
print("b=",b)
Sub = a - b
print("Sub=",Sub)

a= 43
b= 34
Sub= 9

In [7]:
#Multiplication
#a= 63
#b= 97
#Mul = 6111

a= 63
b= 97
print("a=",a)
print("b=",b)
Mul = a * b
print("Mul=",Mul)

a= 63
b= 97
Mul= 6111

In [14]:
#Division
#a= 76
#b= 31
#Float Div = 2.4516129032258065

a = 76
b = 31
print("a=",a)
print("b=",b)
Div = a/b
print("Div =",Div)

a= 76
b= 31
Div = 2.4516129032258065

In [17]:
#Floor division
#a= 76
#b= 31
#Floor Div = 2

a= 76
b= 31
print("a=",a)
print("b=",b)
Floor_Div = a//b
print("Floor Div =",Floor_Div)

a= 76
b= 31
Floor Div = 2

In [18]:
#Modulo
#a= 76
#b= 31
#Modulo = 14

a= 76
b= 31
print("a=",a)
print("b=",b)
Modulo = a%b
print("Modulo =",Modulo)

a= 76
b= 31
Modulo = 14

In [26]:
#Power
#a= 4
#b= 4
#Power = 256

a= 4
b= 4
print("a=",a)
print("b=",b)
Power = pow(a,b) #using pow()
print("Power =",Power)

a= 4
b= 4
Power = 256

In [27]:
#using for loop
#Power
#a= 4
#b= 4
#Power = 256

a= 4
b= 4
print("a=",a)
print("b=",b)
result = 1
for b in range(b, 0, -1): # b=4,  -1  4,3,2,1
    result *= a #result = result * a   a=4
print("Power =",result)

a= 4
b= 4
Power = 256